@using Nop.Web.Areas.Admin.Models.Warehouses
@model WarehouseCategoryModel
@{
    //page title
    ViewBag.PageTitle = T("Admin.Warehouses.WarehouseCategory.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Warehouses Category");
}

<form asp-controller="WarehouseCategory" asp-action="Create" method="post" id="war-category-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Warehouses.WarehouseCategory.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Warehouses.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button id="saveButton" type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            @* <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button> *@
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.CategoryDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>

<script>
    $(document).ready(function () {

        // Form submission event
        $('form').submit(function (e) {
            var $saveButton = $('#saveButton');

            // Disable the save button
            $saveButton.prop('disabled', true);

            // Re-enable the button after some time if needed (for safety)
            setTimeout(function () {
                $saveButton.prop('disabled', false);
            }, 10000); // Adjust the timeout as needed

            return true;
        });
    });
</script>